
.search-results table,.search-results tbody,.search-results tr,.search-results th,.search-results td{
    border: none;
}

.search-results td:first-child{
    background-color: white;
}

.search-results table tr td{
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}

.search-results table tr td:first-child{
    border-left: 1px solid black;
}

.search-results table tr:first-child td:first-child{
    border-radius: 10px 0px 0px 0px;
}

.search-results table tr:last-child td:first-child{
    border-radius: 0px 0px 0px 10px;
}

.search-results table tr:last-child td:last-child{
    border-radius: 0px 0px 10px 0px;
}

.search-results table tr:first-child td:last-child{
    border-radius: 0px 10px 0px 0px;
}

.search-results table tr td:last-child{
    border-right: 1px solid black;
}

table tr:first-child td{
    border-top: 1px solid black;
}

.search-results table tr:last-child td{
    border-bottom: 1px solid black;
}

.search-results{
    font-size: 25px;
}

.search-results td:nth-child(2) {
    background-color: #f7f7f7c7;
}

.search-results td:first-child{
    text-align: center;
    writing-mode: vertical-lr;
}

@media screen and (min-width: 1000px){
    .search-results td:first-child{
        width: 5px;
        font-size:13px;
    }
}
@media screen and (max-width: 999px){
    .search-results td:first-child{
        width: 0px;
        font-size:10px;
        padding: 10px;
    }
}

.search-results th, .search-results td {
    padding: 15px;
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.search-results table {
    table-layout: fixed;
    width: 100%;
    background: white;
}


.search-results em {
    font-weight: bold;
}