
.result-header {
    height: 20px;
    max-width: 1620px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    display: flex;

}

.result-header > div {
    margin-right: 5px; 
    cursor:pointer;
    padding-top:1px;
}

.display-choice{
    padding-left:8px;
    padding-right:8px
}

.surrounded{
    color: white;
    background-color: var(--action-color);
    border-radius: 10px;
    cursor: none;
}
/* .result-actions{
    display: none;
} */

.result-header-wrapper {
    margin-bottom: 20px;
  }

@media screen and (max-width: 999px){
    .result-header {
        margin: 10px 0px 10px 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 1000px){
    .result-header {
        margin: 10px 0px 10px 0px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
