
.result-header {
    height: 20px;
    max-width: 1620px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}

.result-header-wrapper {
    margin-bottom: 20px;
  }

@media screen and (max-width: 999px){
    .result-header {
        margin: 10px 0px 10px 0px;
        padding-left: 20px;
    }
}

@media screen and (min-width: 1000px){
    .result-header {
        margin: 10px 0px 10px 0px;
        padding-left: 30px;
    }
}
