.filters {
    padding-left: 27px;
    display: block;
    float: left;
    font-size: 13px;
}


.category-label {
    font-weight: 900;
    margin-bottom: 5px;
}

.all-categories-link{
    cursor: pointer;
    padding-top: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width: 999px){
    .filters {
        padding-left: 20px;
        display: block;
        margin-bottom: 10px;
        overflow: auto;
    }
    .category,.all-categories-link {
        display: block;
        clear: both;
    }
    .category-label {
        cursor: pointer;
        color: black;
        border-top-color: black; 
        display: flex;
        align-items: center;
        height: 18px;
        height: max-content;
    }
    .hidden{
        display: none;
    }
}

@media screen and (min-width: 1000px){
    .filters {
        width: 220px;
    }
}
