.filters {
    padding-left: 27px;
    display: block;
    width: 220px;
    float: left;
    font-size: 13px;
}


.category-label {
    font-weight: 900;
    margin-bottom: 5px;
}

.all-categories-link{
    cursor: pointer;
}
@media screen and (max-width: 999px){
    .filters {
        padding-left: 20px;
        display: block;
        margin-bottom: 10px;
        overflow: auto;
    }
    .category,.all-categories-link {
        display: block;
        clear: both;
    }
    .category-label {
        cursor: pointer;
        color: #1803b1;
        border-top-color: #1803b1;
        display: flex;
        align-items: center;
        height: 18px;
    }
    .hidden{
        display: none;
    }
}


