@media screen and (min-width: 1000px) {
    .chevron{
        display: none;
    }
}

.chevron{
    margin-top: 6px;
    margin-left: 2px;
}
.chevron.up{
    transform: rotate(180deg);
    margin-top: -2px;

    /* transform: rotate(180deg);
    transform-origin: center;
    transition: transform .2s ease; */
}
