@media screen and (max-width: 999px) {
    .is-category-indicator{
        display: inline-block;
        margin-left: 16px;
        background: #b657af;
        padding: 10px 16px 10px 16px;
        border-radius: 30px;
        text-align: center;
        color: white;
    }
}

@media screen and (min-width: 1000px) {
    .is-category-indicator{
        display: none;
    }
}
.hidden{
    display: none;
}