.App {
  margin: 0px;
}

.search-wrapper{
  padding: 0px;
    overflow: auto;
    margin-bottom: 17px
}
.result-header-wrapper {
  margin-bottom: 20px;
}
.result-content {
  float: left;
  max-width: 70%;
  margin-left: 20px;
}
.result-header {
    padding-left: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
}
.filters, .result-header {
    font-size: 13px;
}
.result-header {
    height: 20px;
}
.result-header,.search-wrapper {
    max-width: 1620px;
    margin-left: auto;
    margin-right: auto;
}
.action-container{
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top:40px;
}
.action-button{
  margin-left: auto;
  margin-right: auto;
  float: left;
  max-width: 70%;
  background: #34437a;
  color: white;
  padding: 19px;
  border-radius: 10px;
  cursor: pointer;
}
