.App {
  margin: 0px;
}

.search-wrapper{
  padding: 0px;
    overflow: auto;
    margin-bottom: 17px
}

.result-content {
  float: left;
  margin-left: 20px;
}

.filters {
    font-size: 13px;
}

.search-wrapper {
    max-width: 1620px;
    margin-left: auto;
    margin-right: auto;
}
.action-container{
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top:40px;
}
.action-button{
  margin-left: auto;
  margin-right: auto;
  float: left;
  max-width: 70%;
  background: #34437a;
  color: white;
  padding: 19px;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 999px){
  .filters {
    padding-left: 20px;
    display: block;
    margin-bottom: 10px;
    overflow: auto;
  }
  .subcategory {
    padding: 5px;
    display: block;
    float: left;
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 20px;
  }
  .result-content {
    float: left;
    max-width: 100%;
    margin-left: 0px;
  }
  .no-result{
    margin-top: 10px;
  }
}

@media screen and (min-width: 1000px){
  .no-result{
    margin-top: 10px;
  }
  .result-content{
    width: calc(100% - 300px); 
  }

}

.no-result{
  max-width: 614px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  line-height: 55px;
  padding:20px;
}