
.category-label-box{
    font-weight: normal;
    font-size: 10px;
}

.box{
    border: 1px solid lightgrey;
    width: 250px;
    font-size: 15px;
    margin:5px;
    border-radius:10px;
    padding: 10px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.span-toggle{
    color: rgb(30, 30, 219);
    text-decoration: underline;
    margin-top:5px;
    cursor: pointer;
    font-size: 12px;
}