
.category-label-box{
    font-weight: normal;
    font-size: 10px;
}

.box{
    box-shadow: -1px 4px 10px 0px rgb(0 0 0 / 20%);
    border-radius:10px;
    padding: 10px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

@media screen and (min-width: 1000px){
    .box{
        width: 250px;
        font-size: 15px;
        margin:5px;
    }
}

@media screen and (max-width: 1000px){
    .box{
        width: calc(100% - 40px);
        font-size: 20px;
        margin: 20px 20px 0px 20px;
    }
}

.span-toggle{
    color: rgb(30, 30, 219);
    text-decoration: underline;
    margin-top:5px;
    cursor: pointer;
    font-size: 12px;
}